Checks: |
  # disable all checks
  -*
  # enable these general categories
  ,clang-analyzer-*
  ,bugprone-*
  ,cppcoreguidelines-*
  ,performance-*
  ,readability-*
  # disabled checks
  ,-bugprone-easily-swappable-parameters
  ,-cppcoreguidelines-pro-type-union-access
  ,-cppcoreguidelines-pro-bounds-constant-array-index
  ,-cppcoreguidelines-avoid-magic-numbers
  ,-readability-magic-numbers
  ,-readability-identifier-length
  ,-readability-uppercase-literal-suffix
  ,-readability-redundant-access-specifiers
  # TODO eventually remove these disables
  ,-readability-redundant-inline-specifier
  ,-readability-else-after-return
WarningsAsErrors: '-*'
HeaderFilterRegex: '(^|.*/)stf/include'
