BasedOnStyle: LLVM

# general whitespace settings
UseTab: Never
IndentWidth: 4
TabWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
IndentPPDirectives: AfterHash

# general settings
SortIncludes: false

# line length settings
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true

# curly brace settings
BreakBeforeBraces: Allman

# constructor formatting
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
BreakConstructorInitializers: BeforeComma

# template settings
AlwaysBreakTemplateDeclarations: Yes
