Checks: |
  # disable all checks
  -*
  # enable these general categories
  ,clang-analyzer-*
  ,bugprone-*
  ,cppcoreguidelines-*
  ,performance-*
  ,readability-*
  # disabled checks
  ,-cppcoreguidelines-pro-type-union-access
  ,-cppcoreguidelines-avoid-magic-numbers
  ,-readability-magic-numbers
  ,-readability-identifier-length
  ,-readability-uppercase-literal-suffix
WarningsAsErrors: '-*'
HeaderFilterRegex: '(^|.*/)stf/include'
